extends layout

block content
  h3= title
  
  if flash && flash[0]
    h6 Cursos relacionados com o seu perfil:
    ul.demo-list-item.mdl-list
      for message in flash
        li.mdl-list__item(data-test="#{message}")
          span.mdl-list__item-primary-content= message.message
  
  form(method="POST", action="#{isStudent ? '/student' : '/find'}")
    
    if isStudent && courses
      select(id="course" name="course" required)
        option(value="")
        each course in courses
          option(value="#{course._id}") #{course.name}
      label(for="course") Curso

      select(id="other_course" name="other_course" required)
        option(value="")
        option(value="false") Não
        each course in courses
          option(value="#{course._id}") #{course.name}
      label(for="other_course") Gostaria de trocar de curso?

    if questions
      each question in questions
        select(name="#{question._id}" required)
          option(value='')
          each option in question.options
            option(value="#{option._id}") #{option.value}
        label(for="#{question._id}") #{question.question}

      button.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored(type="submit") Buscar
