extends layout

block content
  h3= title
  
  if flash && flash[0]
    ul.collection.with-header
      li.collection-header
        h5 Cursos relacionados com o seu perfil
      for info in flash
        for data in info.message
          li.collection-item #{data.course} - #{Math.round(data.value * 100) / 100}%
  
  .row
    form.col.s12(method="POST", action="#{isStudent ? '/student' : '/find'}")
      
      if isStudent && courses
        .input-field.col.s12
          select(name="course" required)
            option(value="")
            each course in courses
              option.black-text(value="#{course._id}") #{course.name}
          label(for="course" data-error="wrong") Curso

        .input-field.col.s12
          select(id="other_course" name="other_course" required)
            option(value="")
            option(value="false") Não
            each course in courses
              option(value="#{course._id}") #{course.name}
          label(for="other_course") Gostaria de trocar de curso?

      if questions
        each question in questions
          .input-field.col.s12
            select(name="#{question._id}" required)
              option(value='')
              each option in question.options
                option(value="#{option._id}") #{option.value}
            label(for="#{question._id}") #{question.question}

        button.btn.waves-effect.waves-light.indigo(type="submit") Enviar
          i.material-icons.right send
